<div id="banner">
    <h1>BANNER</h1>
</div>

<div id="perifericos">
    <h1>Periféricos</h1>

    <img src='<?php echo $this->getViewFileUrl('Games_CostumerHome/controle.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_CostumerHome/fone.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_CostumerHome/mouse.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_CostumerHome/teclado.jpg'); ?>' alt="error" ">

</div>

<br/>

<div id="products">
    <h1>Jogos em destaque</h1>

    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_1-250x350.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_3-250x350.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_3-250x350.png'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_5-250x350.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_2-250x350.jpg'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Games_ProductHome/cover_4-250x350.jpg'); ?>' alt="error" ">

</div>