
<div id="banner">
    <img src='<?php echo $this->getViewFileUrl('Geek_CostumerHome/banner_product.png'); ?>' alt="error" ">

</div>

<div id="products">
    <br/>
        <h1>AQUI VÃO OS PRODUTOS</h1>
    <br/>
</div>

<div id="imgs">
    <img src='<?php echo $this->getViewFileUrl('Geek_CostumerHome/camisetas.png'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Geek_CostumerHome/blusao.png'); ?>' alt="error" ">
    <img src='<?php echo $this->getViewFileUrl('Geek_CostumerHome/mangalonga.png'); ?>' alt="error" ">

</div>
