.media-width(@extremum, @break) when (@break = @screen__m) {
  .page-wrapper .page-header .panel.wrapper {
    border-bottom: 1px solid #f5f5ff;
    background-color: #f5f5ff;
    color: #111126;
  }
  .copyright {
    background-color: #111126;
    color: #f5f5ff;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
  }
  .page-header .switcher strong, .page-footer .switcher strong {
    font-weight: 400;
    float: left;

  }
  .navigation {
    background: #111126;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
    border-top: solid black 1px;
    border-bottom: solid black 1px;

  }

  .nav-sections-item-content {
    display: block !important;
    background-color: #000000;
    color: white;



  }
  .navigation .level0 > .level-top {
    color: #f5f5ff;
    line-height: 47px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
  }
  #banner > img {
    height: 100%;
    width: 100%;
  }
  #banner {
    height: 100%;
    width: 100%;
  }
  #imgs > img{
    height: 345px;
    width: 351px;
    margin: 2.4%;
  }
}

